*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  padding: 0;
}

.imgCollection{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.imgCollection .card{
  max-width: calc(100% / 4);
}

.imgCollection .card img{
width: 100%;
 height: 300px;
 overflow: hidden;
 object-fit: cover;
}
